@import './animation.css';
@tailwind base;
@tailwind components;

/*
	os and underscore indicate components or custom styles.
 */
@layer components {
    .os_panel {
        @apply h-screen;
        [data-pc-section='gutter'] {
            width: 0;
        }
        /* left panel  */
        .panel_left {
            @apply transition-all duration-300;
            @apply bg-white min-w-[204px];
            @screen max-md {
                @apply min-w-0 max-w-[3rem] w-12;
            }
        }
        /* right panel  */
        .panel_right {
            @apply bg-gray-50 flex-grow;
        }
        /* top in panel right */
        .panel_top {
            @apply flex items-center h-14 pr-5 pl-4 border-b-2 border-gray-100;

            /* title */
            .top_left {
                @apply flex-grow-0 flex-shrink-0 mr-1 h-8 w-8 leading-8;
            }

            .top_title {
                @apply text-zinc-800 text-base font-semibold font-['Roboto'] leading-normal;
            }

            /* actions */
            .top_center {
                @apply flex-1;
            }

            /* close */
            .top_right {
                @apply flex-grow-0 flex-shrink-0;
            }

            i {
                @apply cursor-pointer;
                @apply text-zinc-800 text-2xl p-1 rounded-md;

                &::before {
                    @apply w-6 h-6 stroke-2;
                }

                &:hover {
                    @apply bg-gray-100;
                }

                &:active {
                    @apply bg-gray-200;
                }
            }
        }

        /* content in panel right */
        .panel_content {
            @apply px-4;
            @apply h-[calc(100vh_-_56px)] overflow-y-auto;
        }
    }
}

@layer components {
    .os_menu_bar {
        @apply flex flex-col h-full;
        /* layout */
        .menu_bar_title {
            @apply mx-5 mt-5 px-1 max-md:hidden;
            @apply text-slate-800 text-base font-medium font-['Roboto'] leading-normal;
        }

        .menu_bar_author {
            @apply flex space-x-2.5 items-center;
            @apply flex-grow-0 flex-shrink-0 m-5 px-1 pt-4;
            @apply text-zinc-800 text-sm font-normal font-['Roboto'] leading-tight;
            @screen max-md {
                @apply mx-0;
                .author_name {
                    @apply hidden;
                }
            }
        }

        .menu_bar_selector {
            @apply flex-grow overflow-y-auto flex flex-col max-md:mt-5;
            a {
                @apply mx-4 max-md:mx-0 rounded;

                /* routers */
                button {
                    @apply w-full h-12 inline-flex items-center rounded;
                    @apply text-zinc-800 text-sm font-normal font-['Roboto'] leading-tight;
                    @screen max-md {
                        @apply inline text-center text-2xl;
                    }

                    span::before {
                        @apply w-6 h-6 mx-2 my-auto;
                        @screen max-md {
                            @apply w-8 h-8 mx-1;
                        }
                    }
                    &:hover {
                        @apply bg-sky-500 text-white;
                    }
                    span:not(:first-child) {
                        @apply max-md:hidden;
                    }
                }

                /* active route */
                &.router-link-active {
                    @apply bg-gray-100;
                }
            }
        }
    }
}

/* @layer components {
    .os_menu {
        @apply mx-4 max-md:mx-0 rounded;

        button {
            @apply w-full h-12 inline-flex items-center rounded;
            @apply text-zinc-800 text-sm font-normal font-['Roboto'] leading-tight;
            @screen max-md {
                @apply inline text-center text-2xl;
            }

            span::before {
                @apply w-6 h-6 mx-2 my-auto;
                @screen max-md {
                    @apply w-8 h-8 mx-1;
                }
            }
            &:hover {
                @apply bg-sky-500 text-white;
            }
            span:not(:first-child) {
                @apply max-md:hidden;
            }
        }

        &.router-link-active {
            @apply bg-gray-100;
        }
    }
} */

.os_bg_white_card{
    @apply bg-white rounded-lg p-1 w-full space-y-1;
}

.os_list{
    &:hover {
        @apply bg-gray-50;
    }

    /* &:active {
        @apply bg-gray-200;
    } */
}
.os_list_action_icon{
    @apply cursor-pointer;
    @apply text-zinc-800 w-6 h-6 rounded-md;
    @apply flex items-center justify-center;

    &:hover {
        @apply bg-zinc-50;
    }

    &:active {
        @apply bg-gray-200;
    }
}
